.homepage{
    display: flex;
    flex-direction: row;
    margin: 50px 100px 100px 100px;
    background-color: rgba(#BBBEFE, .2);
    font-family: Roboto;
    font-weight: 500;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #fff;
}
